@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Smile Information Technology Inc.<br />
    Toronto, ON Canada<br />
    <abbr title="Phone">P:</abbr>
    647.928.0016
</address>

<address>
    <strong>Support:</strong> <a href="mailto:smilechaolee@gmail.com">Email to Support</a><br />
    <strong>Marketing:</strong> <a href="mailto:leechao1959@gmail.com">Email to Marketing</a>
</address>
