/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Aug-2017, 5:42:40 PM
    Author     : chaolee
*/
body {
    font-family: "New Roman";

}
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 2px;
    margin: auto;
}
th, td {
    font-size: 14px;text-align:left;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 2px;
}
td.labelname {
    font-weight: bold;
    width: 120px;
}
span.errorMsg {
    font-size: 20px; width: 400px;
    text-align: left;
    color: red;
}
input {
    width: 500px;
    text-align: left;
    color: black;
    background-color: white;
}
input.first {
    width: 200px;
    text-align: left;
    color: black;
    background-color: white;
}
input.error{
    color: #FF0000;
    border: 1px solid #FF0000;
}
input.submit {
    font-size: 20px;
    width: 200px;
    text-align: center;
    color: darkred;
    background-color: lightgrey
}
label.error{
    color: #FF0000;
    border: 1px solid #FF0000;
}
select {
    font-size: 14px; width: 100px;
    text-align: left;
    color: black;
    background-color: white;
}