
@{
    ViewData["Title"] = "Find Singers";
}

<h3 style="text-align:center;">@ViewData["Title"]</h3>

@section Scripts
{
	<script type="text/javascript">
	    $( document ).ready(function() { 
            $('.findTable form input, .findTable select').attr('disabled', true);
            $('input[name="search_type"]:radio').change(function(){
                $('.findTable form input, .findTable select').attr('disabled', true);
                $(this).parent().find('form').find('input, select').attr('disabled', false);
                $(this).parent().find('form input, form select').first().focus();
            });
               
            $('input[name="search_type"]:radio').first().prop('checked',true);
            $('input[name="search_type"]:radio').first().trigger('change');
            
            $('form').keydown(function(e) {
                if (e.keyCode === 13) {
                    toSubmit("Submit");
                }
            });

	    });
            
	    function toSubmit(type) {
            var $checkRadio =  $('input[name="search_type"]:checked');
            if ($checkRadio.val() === undefined){
                if (type.toUpperCase()==="CANCEL") {
                    $checkRadio = $('input[name="search_type"]:first');
                }
            }
            // $checkRadio.parent().find('form').attr("action","Find");
            $checkRadio.parent().find('form').append("<input type='hidden' name='search_type' value='"+$checkRadio.val()+"'>");
            $checkRadio.parent().find('form').append("<input type='hidden' name='submitbutton' value='"+type+ "'>");
            $checkRadio.parent().find('form').append('<input type="hidden" name="singer_state", value="@ViewBag.SingerState" />');
            $checkRadio.parent().find('form').submit();
	    }
	</script>
}

<link rel="stylesheet" type="text/css" href="~/css/FindRecordStyle.css" /> 

<table class="findTable">
    <tr>
        <td>            
            <input type="radio" name="search_type" value='singno'/>
            <label class="radio">Singer No.</label>
            <form asp-area="" asp-controller="Singers" asp-action="Find" method="POST" data-search='sing_no'>
                <label>Singer No.:
                    <input name="sing_no" type="text" maxlength="2" style='width:120px;' value=""/>
                </label>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <input type="radio" name="search_type" value='singna'/>
            <label class="radio">Singer Name</label>
            <form asp-area="" asp-controller="Singers" asp-action="Find" method="POST" data-search='sing_na'>
                <label>Singer Name:
                    <input name="sing_na" type="text" maxlength="32" style='width:320px;' value=""/>
                </label>
            </form>                   
        </td>
    </tr>        
</table>

<br />
    
<div style='margin:auto;text-align:center'>
    <button type="submit" onclick='toSubmit("Submit")'>Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type='submit' onclick='toSubmit("Cancel")'>Cancel</button>
</div>
