@model VodManageSystem.Models.DataModels.Language

@{
    ViewData["Title"] = "Delete Language";
    ViewBag.Action = "Delete";
}

<h3 style="text-align:center;">@ViewData["Title"]</h3>

@section Scripts {
    @{
        await Html.RenderPartialAsync("~/Views/Languages/_LanguageValidationScriptsPartial.cshtml");
    }
}

@await Html.PartialAsync("_LanguageOneRecordForm.cshtml", Model)

@* or await Html.PartialAsync("_LanguageOneRecordForm.cshtml") *@